.left_nav{
    float: left;
    background-color: #2a2a2a;
    width: 20%;
    height: 100%;
    text-align: center;
}
.nav_left {
padding-top: 15px;
}

.nav_left ul {
    width: 250px;
    margin: 0 auto;
    list-style: none;
    background-color: #204d74;
}

.nav_left a {
    display: block;
    padding: 12px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    float: left;
}



.nav_left a:hover, .nav_left a:active {
    background-color: #e78170;
    color: white;
    text-shadow: 0 2px 0 #de533a;
}